#topnav {
  width: 100vw;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid rgba(255, 255, 255, 0.2);
  border-width: 0 0 1px 0;
  backdrop-filter: blur(10px);
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: inter, sans-serif;
  background-image: linear-gradient(to top, #293a63, #09101f);
  color: white;
  position: relative;
}

section {
  padding: 0 50px;
}

#topnav {
  display: flex;
  position: fixed;
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
}

.name-and-section-links {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-left: 50px;
}

.name-text {
  color: white;
  font-size: 24pt;
}

.social-link {
  display: block;
}

.socials-links {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-right: 50px;
}

.section-link {
  color: white;
  font-size: 20pt;
}

.social-link-icon {
  width: 50px;
  height: 50px;
}

#intro {
  padding-top: 200px;
  padding-left: 50px;
  padding-right: 150px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 300px;
}

.intro-big-text {
  font-size: 48pt;
  margin: 0;
}

.intro-subtext {
  font-size: 24pt;
  font-weight: 250;
  margin: 0;
}

.intro-image {
  width: 500px;
  height: 500px;
  border-radius: 250px;
}

@media (max-width: 1300px) {
  #intro {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.hamburger-menu-container {
  display: none;
}

@media (max-width: 700px) {
  .name-and-section-links {
    display: none;
  }
  .hamburger-menu-container {
    display: flex;
    align-items: center;
  }
  .hamburger-menu {
    object-fit: cover;
  }
  #topnav {
    right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.show {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 10px;
  position: fixed;
  top: 0;
  right: 0;
  width: 65%;
  height: 100%;
  z-index: 1000;
}
.close-menu {
  align-self: flex-end;
}
.show .section-link {
  color: black;
}

#about {
  font-size: 24pt;
  margin: auto;
  text-align: center;
}

.projects-title-text {
  font-size: 48pt;
  margin: 1em 0 0.2em 0;
}

.project-info {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-project-info-panel {
  width: 1000px;
  height: 800px;
  border-radius: 50px;
  background-image: linear-gradient(
    to bottom,
    rgb(23, 25, 46),
    rgb(61, 70, 139)
  );
}

.project-info-title {
  margin: 0.5em auto;
  text-align: center;
  font-size: 48pt;
}

.project-info-thumbnail {
  width: 80%;
  margin: auto;
  display: block;
}

.project-info-description {
  margin: 20px auto;
  text-align: center;
  font-size: 20pt;
  padding: 0 10%;
}

.project-info-close-button {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: transparent;
  background-image: url("./images/x-symbol.svg");
  background-size: 100%;
  border-style: none;
}

.hide {
  display: none;
}

.project-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.project {
  background-color: rgb(29, 34, 91);
  border-radius: 20px;
  transition: 0.25s;
}

.project img {
  border-radius: 20px 20px 0 0;
}

.project-name {
  margin: 1rem auto;
  text-align: center;
}

.project:hover {
  transform: scale(1.02);
  border: solid white 1px;
}
